pipeline {
  agent any

  stages {
    stage('Preparation') {
    	steps {
    	    git branch: 'master', url: 'git@bitbucket.org:adminvoid/vactory-gatsby.git'
  		}
    }
    stage('setup'){
      steps {
        dir('frontend') {
          sh "yarn install"
        }
      }
    }
    stage('build staging') {
      environment {
        GATSBY_API_URL = "https://backend.vactory3.lapreprod.com/"
        GATSBY_FRONTEND_URL = "https://vactory3.lapreprod.com/"
        GATSBY_ACTIVE_ENV = "development"
      }

      steps {
          echo "GATSBY_BACKEND_URL=${GATSBY_API_URL}"
          echo "GATSBY_FRONTEND_URL=${GATSBY_FRONTEND_URL}"
          echo "GATSBY_ACTIVE_ENV=${GATSBY_ACTIVE_ENV}"
          echo "PWD=${PWD}"
          sh "yarn workspace vactory build"
      }
    }

    stage('deploy to staging'){
      steps {
          sh "rsync -zavhc -e ssh projects/vactory/public/ vactory3@41.77.119.210:/home/vactory3/public_html/"
      }
    }
  }
}
